<div class="options-block">
    <p class="page-title">Choose Flashcards</p>

    <!-- TODO: add a 'select all' checkbox, maybe 'deselect all' too? -->

    <div class="space-above">
        <div class="checklist-row"> 
            <div class="checklist-header checklist-checkbox-col">
                Categories
            </div>
            <div class="stats-headers checklist-stats-col">
                Cards
            </div>
            <div class="stats-headers checklist-stats-col">
                Accuracy
            </div>
        </div>
        <div *ngFor="let category of allCategories; let c = index" class="checklist-row">
            <div class="checklist-checkbox-col">
                <label><input type="checkbox"> {{allCategories[c]}}</label>
            </div>
            <div class="checklist-stats-col" [class.muted]="cardsPerCategory[c] === 0">
                {{cardsPerCategory[c]}}
            </div>
            <div class="checklist-stats-col" [class.muted]="cardsPerCategory[c] === 0">
                {{accuracyPerCategory[c]}}%
            </div>
        </div>
    </div>

    <div class="space-above">
        <div class="checklist-row"> 
            <div class="checklist-header checklist-checkbox-col">
                Topics
            </div>
            <div class="stats-headers checklist-stats-col">
                Cards
            </div>
            <div class="stats-headers checklist-stats-col">
                Accuracy
            </div>
        </div>
        <div *ngFor="let topic of allTopics; let p = index" class="checklist-row">
            <div class="checklist-checkbox-col">
                <label><input type="checkbox"> {{allTopics[p]}}</label>
            </div>
            <div class="checklist-stats-col" [class.muted]="cardsPerTopic[p] === 0">
                {{cardsPerTopic[p]}}
            </div>
            <div class="checklist-stats-col" [class.muted]="cardsPerTopic[p] === 0">
                {{accuracyPerTopic[p]}}%
            </div>
        </div>
    </div>

    <div class="space-above">
        <div class="checklist-header">Question Types</div>
        <div *ngFor="let type of allTypes; let t = index">
            <label><input type="checkbox"> {{allTypes[t]}}</label>
        </div>
    </div>

    <div class="space-above deck-count">
        Current selections will generate a deck of _____ flashcards.
    </div>

    <div class="space-above">
        <button>Let's Go!</button> 
    </div>

    <!-- TODO: add ngModel when backend provides persistence -->
    <!-- TODO: add click event to add or remove from list for saving with user -->

</div>
