<!-- <p>Ideas for this dashboard:</p>

<ul>
    <li>statistics on questions - how many, questions never answered, breakdown of questions by category, topic, type (like currently on options page) </li>
    <li>statistics on users</li>
    
    <li>maybe learn how to implement dynamic graphs/charts</li>
</ul> -->

<div class="dashboard-stats">
    438 users<br /><br />
    162 unique flashcards<br />
    14,295 instances of flashcards
</div>

<div class="dashboard-stats space-above">
    Top 5 users by instances of flashcards<br />
</div>

<div class="dashboard-stats space-above">
    Top 4 users by study sessions<br />
</div>