<!-- Ideas for this dashboard:
statistics on questions - how many, questions never answered, breakdown of questions by category, topic, type (like currently on options page)
statistics on users
maybe learn how to implement dynamic graphs/charts -->

<!-- TODO: connect to back end to pull real data -->

<div class="dashboard-stats">
    438 users
</div>

<div class="dashboard-stats">
    162 unique flashcards<br />
    14,295 instances of flashcards
</div>

<div class="dashboard-stats space-above">
    Top 3 users by instances of flashcards<br />
</div>

<div class="dashboard-stats space-above">
    Top 3 users by study sessions<br />
</div>