<div class="card">
    <h3>{{currentCard.category}}</h3>
    <!-- TODO: add topic here as well -->

    <p>{{currentCard.query}}</p>
    <div *ngFor="let choice of currentCard.choices; let c = index">
        <input type="radio" #response (change)="currentResponse = response.value" [value]="currentCard.choices[c]" [checked]="false" />{{currentCard.choices[c]}}
    </div>
    <div class="right">
        <button *ngIf="!answered" (click)="checkAnswer()">Submit</button>
        <button (click)="getNextCard()" [disabled]="!answered">Next</button> 
    </div>


    <!-- TODO: consider adding stats if question has been asked before -->
    
</div>
