<div class="card">
    <h3>{{currentCard.category}}</h3>
    <p>{{currentCard.query}}</p>
    <div *ngFor="let choice of currentCard.choices; let c = index">
        <input type="radio" #answer name="answer" (change)="checkAnswer(answer.value)" [value]="currentCard.choices[c]" [checked]="false"/>{{currentCard.choices[c]}}
    </div>
    <div class="right">
        <button *ngIf="answered && !correct" (click)="answered = false">Retry</button>
        <button *ngIf="answered && correct" (click)="getNextCard()">Next</button> 
    </div>

    <!-- TODO: consider adding stats if question has been asked before -->
    
</div>
