html, body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/*
IDEAS:
    - instead of graphic cards in a pile on a white bkg... offer user optional
        blurred background images with cards in foreground 
        (beach, coffeeshop, library, mountains, garden, gaming den, etc)
*/

.header {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: ghostwhite;
}

.main {
    display: flex;
    height: 83vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.footer {
    display: flex;
    height: 7vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: ghostwhite;
}

.title {
    font-size: 5vh;
    font-family: 'Days One', sans-serif;
}

.card {
    width: 65vw;
}

.right {
    width: 100%;
    text-align: right;
}

.space-above {
    margin-top: 25px;
}

.page-title {
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom:0.5em;
}

.checklist-header {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}