html, body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/*
IDEAS:
    - instead of graphic cards in a pile on a white bkg... offer user optional
        blurred background images with cards in foreground 
        (beach, coffeeshop, library, mountains, garden, gaming den, etc)
*/

.header {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: ghostwhite;
}

.main {
    display: flex;
    height: 83vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.footer {
    display: flex;
    height: 7vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: ghostwhite;
}

.title {
    font-size: 5vh;
    font-family: 'Days One', sans-serif;
}

.card {
    width: 65vw;
}

.options-block {
    width: 70vw;
}

.login-register {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    text-align: center;
}

.right {
    width: 100%;
    text-align: right;
}

.space-above {
    margin-top: 25px;
}

.page-title {
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom:0.5em;
}

.checklist-row {
    display: flex;
    flex-direction: row;
    
}

.checklist-header {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.stats-headers {
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.stat-snippet-new {
    color: #5b8b0e;
}

.stat-snippet {
    color: #777777;
}

.query {
    font-weight: 800;
}

.answer-correct {
    color: #5b8b0e;
    font-weight: 600;
}

.answer-incorrect {
    color: #aa1e0c;
    font-weight: 600;
}

.spacer-10 {
    margin: 0px 10px;
}


.checklist-checkbox-col {
    width: 40%;
}

.checklist-stats-col {
    width: 30%;
    text-align: center;
}

.muted {
    color: #BBBBBB;
}

.deck-count {
    font-weight: 400;
    color: #0970a0;
}

.form-fields {
    width: 50vw;
    height: 4vw;
    margin-bottom: 1vw;
    padding: 5px;
}

.error-msg {
    color: #aa1e0c;
    font-size: .9em;
    text-align: left;
    margin-bottom: 10px;
}

.secondary-text {
    color: #777777;
    font-size: .9em;
}

.subtle-link {
    color: #555555;
}
